{% extends 'layouts/base.html' %}

{% block content %}

	<a href="{% url 'blog:blog_list' %}">Main</a>
		<div class="container">

		<img src="{{ detail.cover.url }}" width="110">
	        <p><b>Title: </b>{{ detail.title }}</p>
	        <p><b>Created at: </b>{{ detail.created }}</p>
	        <p><b>Body: </b>{{ detail.body }}</p>
	        <p><b>Views: </b>{{ detail.views }}</p>
	</div>

{% endblock %}


https://stackoverflow.com/questions/66951365/show-only-most-viewed-post-from-last-2-days



https://www.google.com/search?q=how+to+count+total+views+of+the+post+in+django&oq=how+to+count+total+views+of+the+post+in+django&aqs=chrome..69i57.15299j0j7&sourceid=chrome&ie=UTF-8

https://www.youtube.com/watch?v=q3m6H9kHnvk
